backoffice/cross/cross-web/src/main/resources/wsdl/registroimprese/allegati/BlocchiImpresa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by yyi2117 (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="dati-identificativi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tipi-procedure-concorsuali" minOccurs="0"/>
				<xs:element ref="forma-giuridica" minOccurs="0"/>
				<xs:element ref="indirizzo-localizzazione" minOccurs="0"/>
				<xs:element ref="telefono" minOccurs="0"/>
				<xs:element ref="telex" minOccurs="0"/>
				<xs:element ref="telefax" minOccurs="0"/>
				<xs:element ref="sito-internet" minOccurs="0"/>
				<xs:element ref="email" minOccurs="0"/>
				<xs:element ref="legal-mail" minOccurs="0"/>
				<xs:element ref="altre-funzioni-sede" minOccurs="0"/>
				<xs:element ref="estremi-sede" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="f-sede-intercamerale" type="xs:string"/>
			<xs:attribute name="c-fonte" type="xs:string"/>
			<xs:attribute name="fonte" type="xs:string"/>
			<xs:attribute name="tipo-soggetto" type="xs:string"/>
			<xs:attribute name="descrizione-tipo-soggetto" type="xs:string"/>
			<xs:attribute name="tipo-impresa" type="xs:string"/>
			<xs:attribute name="descrizione-tipo-impresa" type="xs:string"/>
			<xs:attribute name="stato-impresa" type="xs:string"/>
			<xs:attribute name="stato-ditta" type="xs:string"/>
			<xs:attribute name="f-aggiornamento" type="xs:string"/>
			<xs:attribute name="dt-ultimo-protocollo" type="xs:string"/>
			<xs:attribute name="dt-mod-ultimo-protocollo-evaso" type="xs:string"/>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="partita-iva" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="altre-funzioni-sede" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="estremi-sede">
		<xs:complexType>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="forma-giuridica">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="indirizzo-localizzazione">
		<xs:complexType>
			<xs:attribute name="c-comune" type="xs:string"/>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-toponimo" type="xs:string"/>
			<xs:attribute name="toponimo" type="xs:string"/>
			<xs:attribute name="via" type="xs:string"/>
			<xs:attribute name="n-civico" type="xs:string"/>
			<xs:attribute name="cap" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="frazione" type="xs:string"/>
			<xs:attribute name="altre-indicazioni" type="xs:string"/>
			<xs:attribute name="c-stradario" type="xs:string"/>
			<xs:attribute name="c-zona" type="xs:string"/>
			<xs:attribute name="f-sede-presso-terzi" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="legal-mail" type="xs:string"/>
	<xs:element name="sito-internet" type="xs:string"/>
	<xs:element name="telefax">
		<xs:complexType>
			<xs:attribute name="prefisso" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="telefono">
		<xs:complexType>
			<xs:attribute name="prefisso" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="telex" type="xs:string"/>
	<xs:element name="tipi-procedure-concorsuali">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tipo-procedura-concorsuale" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="cciaa-fuori-provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tipo-procedura-concorsuale">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c-tipo" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="abilitazione-facchinaggio">
		<xs:complexType>
			<xs:attribute name="c-fascia" type="xs:string"/>
			<xs:attribute name="fascia" type="xs:string"/>
			<xs:attribute name="c-volume" type="xs:string"/>
			<xs:attribute name="volume" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abilitazione-impiantisti">
		<xs:complexType>
			<xs:attribute name="c-qualifica" type="xs:string"/>
			<xs:attribute name="qualifica" type="xs:string"/>
			<xs:attribute name="lettera" type="xs:string"/>
			<xs:attribute name="descrizione-lettera" type="xs:string"/>
			<xs:attribute name="lettere" type="xs:string"/>
			<xs:attribute name="limitazioni" type="xs:string"/>
			<xs:attribute name="f-tutte-attivita-impresa" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-accertamento" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-ente-rilascio" type="xs:string"/>
			<xs:attribute name="ente-rilascio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abilitazione-pulizia">
		<xs:complexType>
			<xs:attribute name="c-fascia" type="xs:string"/>
			<xs:attribute name="fascia" type="xs:string"/>
			<xs:attribute name="c-volume" type="xs:string"/>
			<xs:attribute name="volume" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abilitazioni-impiantisti">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="abilitazione-impiantisti" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="c-riferimento-legge" type="xs:string"/>
			<xs:attribute name="riferimento-legge" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abilitazioni-professionali">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="p-abilitazioni" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="accordi-debiti" type="xs:string"/>
	<xs:element name="addetti-impresa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="info-mesi" minOccurs="0"/>
				<xs:element ref="valori-medi" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="c-tipo-informazione" type="xs:string"/>
			<xs:attribute name="tipo-informazione" type="xs:string"/>
			<xs:attribute name="anno" type="xs:string"/>
			<xs:attribute name="dt-dichiarazione" type="xs:string"/>
			<xs:attribute name="dt-rilevazione" type="xs:string"/>
			<xs:attribute name="n-dipendenti" type="xs:string"/>
			<xs:attribute name="n-indipendenti" type="xs:string"/>
			<xs:attribute name="n-totale" type="xs:string"/>
			<xs:attribute name="c-rilevazione-dipendenti" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="albi-ruoli-licenze">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="dati-artigiani" minOccurs="0"/>
				<xs:element ref="riconoscimenti-professionali" minOccurs="0"/>
				<xs:element ref="abilitazioni-impiantisti" minOccurs="0"/>
				<xs:element ref="abilitazione-pulizia" minOccurs="0"/>
				<xs:element ref="abilitazione-facchinaggio" minOccurs="0"/>
				<xs:element ref="ruoli" minOccurs="0"/>
				<xs:element ref="registro-preziosi" minOccurs="0"/>
				<xs:element ref="denunce-inizio-attivita" minOccurs="0"/>
				<xs:element ref="licenze" minOccurs="0"/>
				<xs:element ref="requisiti-morali-professionali" minOccurs="0"/>
				<xs:element ref="commercio-dettaglio" minOccurs="0"/>
				<xs:element ref="societa-cooperativa" minOccurs="0"/>
				<xs:element ref="assegnatari-marchio" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="amministrazione-controllo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="n-soci" minOccurs="0"/>
				<xs:element ref="forme-amministrative-in-carica" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="annotazioni-procedure" type="xs:string"/>
	<xs:element name="apparecchi">
		<xs:complexType>
			<xs:attribute name="n-impastatrici" type="xs:string"/>
			<xs:attribute name="n-formatrici" type="xs:string"/>
			<xs:attribute name="n-grissinatrici" type="xs:string"/>
			<xs:attribute name="n-spezzatrici" type="xs:string"/>
			<xs:attribute name="n-laminatoi" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="appelli-reclami" type="xs:string"/>
	<xs:element name="assegnatari-marchio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="iscrizione" minOccurs="0"/>
				<xs:element ref="cancellazione" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="atti-conferimento-cariche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atto-conferimento-cariche" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attivita-aa">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="dt-iscrizione-inizio" type="xs:string"/>
					<xs:attribute name="dt-inizio" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="attivita-aa-bz">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mestieri-aa" minOccurs="0"/>
				<xs:element ref="descrizione" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cancellazione-aa-bz" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-inizio" type="xs:string"/>
			<xs:attribute name="f-attivita-secondaria" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attivita-agricola">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="dt-inizio" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="attivita-esercitata" type="xs:string"/>
	<xs:element name="attivita-prevalente">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="f-attivita-non-iniziata" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="attivita-secondaria-esercitata" type="xs:string"/>
	<xs:element name="atto-conferimento-cariche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cariche" minOccurs="0"/>
				<xs:element ref="poteri-persona" minOccurs="0"/>
				<xs:element ref="estremi-atto" minOccurs="0"/>
				<xs:element ref="proprieta-quota" minOccurs="0"/>
				<xs:element ref="partecipazione-utili" minOccurs="0"/>
				<xs:element ref="conferimenti-prestazioni" minOccurs="0"/>
				<xs:element ref="abilitazioni-professionali" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="p-gruppo-cariche" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="autorizzazione-ps">
		<xs:complexType>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bene-servizio">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="beni-servizi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bene-servizio" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="blocchi-impresa">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="dati-identificativi" minOccurs="0"/>
				<xs:element ref="info-sede" minOccurs="0"/>
				<xs:element ref="cancellazione-trasferimento" minOccurs="0"/>
				<xs:element ref="info-attivita" minOccurs="0"/>
				<xs:element ref="albi-ruoli-licenze" minOccurs="0"/>
				<xs:element ref="persone-sede" minOccurs="0"/>
				<xs:element ref="localizzazioni" minOccurs="0"/>
				<xs:element ref="amministrazione-controllo" minOccurs="0"/>
				<xs:element ref="procedure-concorsuali" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancellazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="estremi-atto" minOccurs="0"/>
				<xs:element ref="info-cessazione" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-cancellazione" type="xs:string"/>
			<xs:attribute name="dt-cessazione" type="xs:string"/>
			<xs:attribute name="dt-domanda" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
			<xs:attribute name="dt-cessazione-attivita" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancellazione-aa">
		<xs:complexType>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
			<xs:attribute name="dt-domanda-accertamento" type="xs:string"/>
			<xs:attribute name="dt-delibera" type="xs:string"/>
			<xs:attribute name="dt-cessazione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancellazione-aa-bz">
		<xs:complexType>
			<xs:attribute name="dt-effetto" type="xs:string"/>
			<xs:attribute name="dt-domanda-accertamento" type="xs:string"/>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancellazione-ruolo">
		<xs:complexType>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
			<xs:attribute name="dt-domanda" type="xs:string"/>
			<xs:attribute name="dt-delibera" type="xs:string"/>
			<xs:attribute name="dt-cessazione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancellazione-trasferimento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cancellazione" minOccurs="0"/>
				<xs:element ref="trasferimento-sede" minOccurs="0"/>
				<xs:element ref="trasferimento-sede-ul-attiva" minOccurs="0"/>
				<xs:element ref="info-altro-registro" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="caratteristiche-impianto-1">
		<xs:complexType>
			<xs:attribute name="quintali-potenza-nominale" type="xs:string"/>
			<xs:attribute name="tipo-riscaldamento" type="xs:string"/>
			<xs:attribute name="tipo-combustibile" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="caratteristiche-impianto-2">
		<xs:complexType>
			<xs:attribute name="quintali-potenza-nominale" type="xs:string"/>
			<xs:attribute name="tipo-riscaldamento" type="xs:string"/>
			<xs:attribute name="tipo-combustibile" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="carica">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="p-carica" type="xs:string"/>
					<xs:attribute name="c-carica" type="xs:string"/>
					<xs:attribute name="dt-iscrizione" type="xs:string"/>
					<xs:attribute name="dt-iscrizione-libro-soci" type="xs:string"/>
					<xs:attribute name="dt-atto-nomina" type="xs:string"/>
					<xs:attribute name="dt-nomina" type="xs:string"/>
					<xs:attribute name="dt-fine" type="xs:string"/>
					<xs:attribute name="n-anni-esercizio" type="xs:string"/>
					<xs:attribute name="c-durata" type="xs:string"/>
					<xs:attribute name="descrizione-durata" type="xs:string"/>
					<xs:attribute name="dt-riferimento-bilancio" type="xs:string"/>
					<xs:attribute name="dt-presentazione" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="cariche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="carica" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cessazione" type="xs:string"/>
	<xs:element name="cessazione-esercizio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="dt-cessazione" type="xs:string"/>
			<xs:attribute name="dt-decorrenza" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cessazione-esercizio-provv" type="xs:string"/>
	<xs:element name="cessazione-localizzazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="estremi-atto" minOccurs="0"/>
				<xs:element ref="info-cessazione" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-cessazione" type="xs:string"/>
			<xs:attribute name="dt-domanda" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="classificazione-ateco-2002">
		<xs:complexType>
			<xs:attribute name="c-attivita" type="xs:string"/>
			<xs:attribute name="attivita" type="xs:string"/>
			<xs:attribute name="c-importanza" type="xs:string"/>
			<xs:attribute name="importanza" type="xs:string"/>
			<xs:attribute name="dt-inizio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="classificazioni-ateco-2002">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="classificazione-ateco-2002" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="classificazione-ateco">
		<xs:complexType>
			<xs:attribute name="c-attivita" type="xs:string"/>
			<xs:attribute name="attivita" type="xs:string"/>
			<xs:attribute name="c-importanza" type="xs:string"/>
			<xs:attribute name="importanza" type="xs:string"/>
			<xs:attribute name="dt-inizio" type="xs:string"/>
			<xs:attribute name="dt-riferimento" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="classificazioni-ateco">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="classificazione-ateco" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="c-codifica" type="xs:string"/>
			<xs:attribute name="codifica" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="commercio-dettaglio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="integrazione-informazioni" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-dichiarazione" type="xs:string"/>
			<xs:attribute name="superficie-vendita" type="xs:string"/>
			<xs:attribute name="c-settore-merceologico" type="xs:string"/>
			<xs:attribute name="settore-merceologico" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="conferimenti-prestazioni">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="p-conferimenti" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="continuazione-esercizio-provv" type="xs:string"/>
	<xs:element name="dati-artigiani">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attivita-aa" minOccurs="0"/>
				<xs:element ref="informazioni-supplementari-aa" minOccurs="0"/>
				<xs:element ref="cancellazione-aa" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="dt-iscrizione-accertamento" type="xs:string"/>
			<xs:attribute name="dt-domanda" type="xs:string"/>
			<xs:attribute name="dt-domanda-accertamento" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="dt-delibera" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dati-iscrizione-rea-rd">
		<xs:complexType>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-tipo-iscrizione" type="xs:string"/>
			<xs:attribute name="tipo-iscrizione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="denunce-inizio-attivita">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="denuncia-inizio-attivita" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="denuncia-inizio-attivita">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
			<xs:attribute name="c-ente-rilascio" type="xs:string"/>
			<xs:attribute name="ente-rilascio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="descrizione" type="xs:string"/>
	<xs:element name="descrizioni">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="descrizione" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="domicilio-fiscale">
		<xs:annotation>
			<xs:documentation>Questo campo dal 31/03/2009 rappresenterà soltanto il domicilio (dichiarato al Registro Imprese), non il domicilio fiscale</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="c-comune" type="xs:string"/>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-toponimo" type="xs:string"/>
			<xs:attribute name="toponimo" type="xs:string"/>
			<xs:attribute name="via" type="xs:string"/>
			<xs:attribute name="n-civico" type="xs:string"/>
			<xs:attribute name="cap" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="frazione" type="xs:string"/>
			<xs:attribute name="altre-indicazioni" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="esecuzione-concordato" type="xs:string"/>
	<xs:element name="esercizio-diritto-voto" type="xs:string"/>
	<xs:element name="esercizio-provvisorio" type="xs:string"/>
	<xs:element name="estremi-atto">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="notaio" type="xs:string"/>
			<xs:attribute name="tribunale" type="xs:string"/>
			<xs:attribute name="altre-indicazioni" type="xs:string"/>
			<xs:attribute name="n-registrazione" type="xs:string"/>
			<xs:attribute name="dt-registrazione" type="xs:string"/>
			<xs:attribute name="localita-ufficio-registro" type="xs:string"/>
			<xs:attribute name="provincia-ufficio-registro" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="estremi-atto-costituzione">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="n-repertorio" type="xs:string"/>
			<xs:attribute name="notaio" type="xs:string"/>
			<xs:attribute name="localita-notaio" type="xs:string"/>
			<xs:attribute name="provincia-notaio" type="xs:string"/>
			<xs:attribute name="n-registrazione" type="xs:string"/>
			<xs:attribute name="dt-registrazione" type="xs:string"/>
			<xs:attribute name="localita-ufficio-registro" type="xs:string"/>
			<xs:attribute name="provincia-ufficio-registro" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="estremi-nascita">
		<xs:complexType>
			<xs:attribute name="dt" type="xs:string"/>
			<xs:attribute name="c-comune" type="xs:string"/>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fallimento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fallimento-in-proprio" minOccurs="0"/>
				<xs:element ref="fallimento-per-estensione" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="p-fallimento" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fallimento-in-proprio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="estremi-nascita" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n-fallimento" type="xs:string"/>
			<xs:attribute name="dt-fallimento" type="xs:string"/>
			<xs:attribute name="tribunale" type="xs:string"/>
			<xs:attribute name="provincia-tribunale" type="xs:string"/>
			<xs:attribute name="n-sentenza" type="xs:string"/>
			<xs:attribute name="dt-sentenza" type="xs:string"/>
			<xs:attribute name="curatore" type="xs:string"/>
			<xs:attribute name="dt-chiusura" type="xs:string"/>
			<xs:attribute name="c-organo-giudiziario" type="xs:string"/>
			<xs:attribute name="organo-giudiziario" type="xs:string"/>
			<xs:attribute name="sesso" type="xs:string"/>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fallimento-per-estensione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="estremi-nascita" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n-fallimento" type="xs:string"/>
			<xs:attribute name="dt-fallimento" type="xs:string"/>
			<xs:attribute name="tribunale" type="xs:string"/>
			<xs:attribute name="provincia-tribunale" type="xs:string"/>
			<xs:attribute name="n-sentenza" type="xs:string"/>
			<xs:attribute name="dt-sentenza" type="xs:string"/>
			<xs:attribute name="curatore" type="xs:string"/>
			<xs:attribute name="dt-chiusura" type="xs:string"/>
			<xs:attribute name="c-organo-giudiziario" type="xs:string"/>
			<xs:attribute name="organo-giudiziario" type="xs:string"/>
			<xs:attribute name="sesso" type="xs:string"/>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="familiare-partecipe">
		<xs:complexType>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="f-coltivatore-diretto" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="familiari-partecipi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="familiare-partecipe" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="forma-amministrativa-in-carica">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
					<xs:attribute name="n-amministratori-in-carica" type="xs:string"/>
					<xs:attribute name="anni-durata" type="xs:string"/>
					<xs:attribute name="c-durata" type="xs:string"/>
					<xs:attribute name="durata" type="xs:string"/>
					<xs:attribute name="dt-inizio-carica" type="xs:string"/>
					<xs:attribute name="dt-fine-carica" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="forme-amministrative-in-carica">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="forma-amministrativa-in-carica" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="impresa-sociale">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="beni-servizi" minOccurs="0"/>
				<xs:element ref="settori-attivita" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n-lavoratori-svantaggiati" type="xs:string"/>
			<xs:attribute name="n-lavoratori-disabili" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="impresa-subentrante">
		<xs:complexType>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-ri" type="xs:string"/>
			<xs:attribute name="c-titolo-subentro" type="xs:string"/>
			<xs:attribute name="titolo-subentro" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="impresa-subentrata">
		<xs:complexType>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-aa" type="xs:string"/>
			<xs:attribute name="n-ri" type="xs:string"/>
			<xs:attribute name="c-titolo-subentro" type="xs:string"/>
			<xs:attribute name="titolo-subentro" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="indirizzo">
		<xs:complexType>
			<xs:attribute name="c-comune" type="xs:string"/>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-toponimo" type="xs:string"/>
			<xs:attribute name="toponimo" type="xs:string"/>
			<xs:attribute name="via" type="xs:string"/>
			<xs:attribute name="n-civico" type="xs:string"/>
			<xs:attribute name="cap" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="frazione" type="xs:string"/>
			<xs:attribute name="altre-indicazioni" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="indirizzo-posta-certificata" type="xs:string"/>
	<xs:element name="info-altro-registro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="trasferimento-altro-registro" minOccurs="0"/>
				<xs:element ref="cancellazione" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="cciaa" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-attivita">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lavoro-prestato-familiari-part" minOccurs="0"/>
				<xs:element ref="familiari-partecipi" minOccurs="0"/>
				<xs:element ref="attivita-esercitata" minOccurs="0"/>
				<xs:element ref="attivita-secondaria-esercitata" minOccurs="0"/>
				<xs:element ref="attivita-aa-bz" minOccurs="0"/>
				<xs:element ref="attivita-agricola" minOccurs="0"/>
				<xs:element ref="classificazioni-ateco-2002" minOccurs="0"/>
				<xs:element ref="classificazioni-ateco" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="attivita-prevalente" minOccurs="0"/>
				<xs:element ref="impresa-sociale" minOccurs="0"/>
				<xs:element ref="addetti-impresa" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="dt-inizio-attivita-impresa" type="xs:string"/>
			<xs:attribute name="dt-inizio" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-cessazione" type="xs:string"/>
	<xs:element name="info-generiche" type="xs:string"/>
	<xs:element name="info-localizzazione" type="xs:string"/>
	<xs:element name="info-mesi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="info-mese" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-mese">
		<xs:complexType>
			<xs:attribute name="c-mese" type="xs:string"/>
			<xs:attribute name="mese" type="xs:string"/>
			<xs:attribute name="n-dipendenti" type="xs:string"/>
			<xs:attribute name="n-indipendenti" type="xs:string"/>
			<xs:attribute name="n-totale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-non-documentata" type="xs:string"/>
	<xs:element name="info-sede">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="telefono" minOccurs="0"/>
				<xs:element ref="telex" minOccurs="0"/>
				<xs:element ref="telefax" minOccurs="0"/>
				<xs:element ref="indirizzo-posta-certificata" minOccurs="0"/>
				<xs:element ref="sito-internet" minOccurs="0"/>
				<xs:element ref="email" minOccurs="0"/>
				<xs:element ref="legal-mail" minOccurs="0"/>
				<xs:element ref="altre-funzioni-sede" minOccurs="0"/>
				<xs:element ref="dati-iscrizione-rea-rd" minOccurs="0"/>
				<xs:element ref="persona-giuridica-privata" minOccurs="0"/>
				<xs:element ref="sede-fuori-provincia" minOccurs="0"/>
				<xs:element ref="partita-iva" minOccurs="0"/>
				<xs:element ref="insegna" minOccurs="0"/>
				<xs:element ref="sede-secondaria-rs" minOccurs="0"/>
				<xs:element ref="provenienza-trasferimento" minOccurs="0"/>
				<xs:element ref="informazioni-supplementari" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="f-scritture-contabili" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="info-visura" type="xs:string"/>
	<xs:element name="informazioni-supplementari">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="poteri-congiunti" minOccurs="0"/>
				<xs:element ref="info-visura" minOccurs="0"/>
				<xs:element ref="info-generiche" minOccurs="0"/>
				<xs:element ref="info-localizzazione" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="informazioni-supplementari-aa" type="xs:string"/>
	<xs:element name="insegna" type="xs:string"/>
	<xs:element name="integrazione-informazioni">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tabelle-speciali" minOccurs="0"/>
				<xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cessazione-esercizio" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="dt-inserimento" type="xs:string"/>
			<xs:attribute name="dt-decorrenza" type="xs:string"/>
			<xs:attribute name="c-tipo-domanda" type="xs:string"/>
			<xs:attribute name="tipo-domanda" type="xs:string"/>
			<xs:attribute name="n-autorizzazione" type="xs:string"/>
			<xs:attribute name="dt-presentazione" type="xs:string"/>
			<xs:attribute name="c-comune-presentazione" type="xs:string"/>
			<xs:attribute name="comune-presentazione" type="xs:string"/>
			<xs:attribute name="provincia-presentazione" type="xs:string"/>
			<xs:attribute name="n-protocollo" type="xs:string"/>
			<xs:attribute name="c-struttura-esercizio" type="xs:string"/>
			<xs:attribute name="struttura-esercizio" type="xs:string"/>
			<xs:attribute name="mq-vendita-alimentare" type="xs:string"/>
			<xs:attribute name="mq-vendita-non-alimentare" type="xs:string"/>
			<xs:attribute name="mq-esercizio" type="xs:string"/>
			<xs:attribute name="centro-commerciale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="iscrizione">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="n-marchio" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="dt-assegnazione" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lavoro-prestato-familiari-part">
		<xs:complexType>
			<xs:attribute name="n-lavoratori-tempo-indeter" type="xs:string"/>
			<xs:attribute name="n-giornate" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="licenza">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="info-non-documentata" minOccurs="0"/>
				<xs:element ref="molini-panificatori" minOccurs="0"/>
				<xs:element ref="licenza-autorizzazione" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="p-licenza" type="xs:string"/>
			<xs:attribute name="f-non-documentata" type="xs:string"/>
			<xs:attribute name="c-non-documentata" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="licenza-autorizzazione">
		<xs:complexType>
			<xs:attribute name="c-autorita-rilascio" type="xs:string"/>
			<xs:attribute name="autorita-rilascio" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="licenze">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="licenza" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="localizzazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sotto-tipi" minOccurs="0"/>
				<xs:element ref="indirizzo-localizzazione" minOccurs="0"/>
				<xs:element ref="telefono" minOccurs="0"/>
				<xs:element ref="telex" minOccurs="0"/>
				<xs:element ref="telefax" minOccurs="0"/>
				<xs:element ref="sede-fuori-provincia" minOccurs="0"/>
				<xs:element ref="sede-secondaria-rs" minOccurs="0"/>
				<xs:element ref="impresa-subentrata" minOccurs="0"/>
				<xs:element ref="attivita-esercitata" minOccurs="0"/>
				<xs:element ref="attivita-secondaria-esercitata" minOccurs="0"/>
				<xs:element ref="attivita-aa-bz" minOccurs="0"/>
				<xs:element ref="classificazioni-ateco-2002" minOccurs="0"/>
				<xs:element ref="classificazioni-ateco" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="albi-ruoli-licenze" minOccurs="0"/>
				<xs:element ref="persone" minOccurs="0"/>
				<xs:element ref="informazioni-supplementari" minOccurs="0"/>
				<xs:element ref="cessazione-localizzazione" minOccurs="0"/>
				<xs:element ref="trasferimento-localizzazione" minOccurs="0"/>
				<xs:element ref="impresa-subentrante" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="progressivo" type="xs:string"/>
			<xs:attribute name="f-dati-ridotti" type="xs:string"/>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="c-tipo-iscrizione" type="xs:string"/>
			<xs:attribute name="tipo-iscrizione" type="xs:string"/>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="insegna" type="xs:string"/>
			<xs:attribute name="dt-apertura" type="xs:string"/>
			<xs:attribute name="f-cessazione" type="xs:string"/>
			<xs:attribute name="f-scritture-contabili" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="localizzazioni">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="localizzazione" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="macchinari">
		<xs:complexType>
			<xs:attribute name="caratteristica-1" type="xs:string"/>
			<xs:attribute name="caratteristica-2" type="xs:string"/>
			<xs:attribute name="caratteristica-3" type="xs:string"/>
			<xs:attribute name="caratteristica-4" type="xs:string"/>
			<xs:attribute name="f-apparecchi-pulitura" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="marchio" type="xs:string"/>
	<xs:element name="mestiere-aa">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
					<xs:attribute name="descrizione" type="xs:string"/>
					<xs:attribute name="ulteriore-descrizione" type="xs:string"/>
					<xs:attribute name="dt-inizio-attivita" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mestieri-aa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mestiere-aa" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="molini">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="potenze-cereali-macchinari" minOccurs="0"/>
				<xs:element ref="stoccaggio" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="categoria" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="molini-panificatori">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="panificatori" minOccurs="0"/>
				<xs:element ref="molini" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="conduzione" type="xs:string"/>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="dt-inizio-rapporto" type="xs:string"/>
			<xs:attribute name="dt-fine-rapporto" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="n-soci">
		<xs:complexType>
			<xs:attribute name="soci" type="xs:string"/>
			<xs:attribute name="accomandatari" type="xs:string"/>
			<xs:attribute name="amministratori" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="note" type="xs:string"/>
	<xs:element name="oggetto-sociale" type="xs:string"/>
	<xs:element name="panificatori">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caratteristiche-impianto-1" minOccurs="0"/>
				<xs:element ref="caratteristiche-impianto-2" minOccurs="0"/>
				<xs:element ref="apparecchi" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parametri">
		<xs:complexType>
			<xs:attribute name="id-richiesta" type="xs:string"/>
			<xs:attribute name="sigla-cciaa" type="xs:string"/>
			<xs:attribute name="testata-cciaa" type="xs:string"/>
			<xs:attribute name="titolo-documento" type="xs:string"/>
			<xs:attribute name="frase-documento" type="xs:string"/>
			<xs:attribute name="dt-estrazione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="partecipazione-utili">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="p-partecipazione" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="partita-iva" type="xs:string"/>
	<xs:element name="persona">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="persona-fisica" minOccurs="0"/>
				<xs:element ref="persona-giuridica" minOccurs="0"/>
				<xs:element ref="indirizzo-posta-certificata" minOccurs="0"/>
				<xs:element ref="indirizzo" minOccurs="0"/>
				<xs:element ref="telefono" minOccurs="0"/>
				<xs:element ref="telefax" minOccurs="0"/>
				<xs:element ref="quota" minOccurs="0"/>
				<xs:element ref="atti-conferimento-cariche" minOccurs="0"/>
				<xs:element ref="fallimento" minOccurs="0"/>
				<xs:element ref="abilitazioni-impiantisti" minOccurs="0"/>
				<xs:element ref="ruoli-persona" minOccurs="0"/>
				<xs:element ref="licenze" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="progressivo" type="xs:string"/>
			<xs:attribute name="f-rappresentante-rea" type="xs:string"/>
			<xs:attribute name="f-rappresentante-ri" type="xs:string"/>
			<xs:attribute name="f-amministratore" type="xs:string"/>
			<xs:attribute name="f-sindaco" type="xs:string"/>
			<xs:attribute name="f-elettore" type="xs:string"/>
			<xs:attribute name="tipo-modifica" type="xs:string"/>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="f-firma-depositata" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persona-fisica">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="estremi-nascita" minOccurs="0"/>
				<xs:element ref="domicilio-fiscale" minOccurs="0"/>
				<xs:element ref="titoli-onorifici" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="cognome" type="xs:string"/>
			<xs:attribute name="nome" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="sesso" type="xs:string"/>
			<xs:attribute name="c-cittadinanza" type="xs:string"/>
			<xs:attribute name="cittadinanza" type="xs:string"/>
			<xs:attribute name="c-capacita-di-agire" type="xs:string"/>
			<xs:attribute name="capacita-di-agire" type="xs:string"/>
			<xs:attribute name="c-titolo-studio" type="xs:string"/>
			<xs:attribute name="titolo-studio" type="xs:string"/>
			<xs:attribute name="c-precedente-occupazione" type="xs:string"/>
			<xs:attribute name="precedente-occupazione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persona-giuridica">
		<xs:complexType>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="denominazione" type="xs:string"/>
			<xs:attribute name="c-fiscale" type="xs:string"/>
			<xs:attribute name="dt-costituzione" type="xs:string"/>
			<xs:attribute name="c-stato-costituzione" type="xs:string"/>
			<xs:attribute name="stato-costituzione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persona-giuridica-privata">
		<xs:complexType>
			<xs:attribute name="registro" type="xs:string"/>
			<xs:attribute name="ente" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="f-accertamento-requisiti" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="persone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="persona" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="persone-sede">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="persona" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="potenza-cereali-macchinari">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="macchinari" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="quintali-potenza-nominale" type="xs:string"/>
			<xs:attribute name="quintali-potenza-reale" type="xs:string"/>
			<xs:attribute name="tipo-cereale" type="xs:string"/>
			<xs:attribute name="altro-tipo-cereale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="potenze-cereali-macchinari">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="potenza-cereali-macchinari" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="poteri-carica">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c-carica" type="xs:string"/>
					<xs:attribute name="carica" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="poteri-congiunti" type="xs:string"/>
	<xs:element name="poteri-persona">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="p-poteri" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="procedura-concorsuale">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="estremi-atto" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="dt-iscrizione-procedura" type="xs:string"/>
			<xs:attribute name="dt-provvedimento" type="xs:string"/>
			<xs:attribute name="dt-atto" type="xs:string"/>
			<xs:attribute name="dt-termine" type="xs:string"/>
			<xs:attribute name="dt-omologazione" type="xs:string"/>
			<xs:attribute name="dt-chiusura" type="xs:string"/>
			<xs:attribute name="dt-esecuzione" type="xs:string"/>
			<xs:attribute name="dt-revoca" type="xs:string"/>
			<xs:attribute name="dt-udienza" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="procedure-concorsuali">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="procedura-concorsuale" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="accordi-debiti" minOccurs="0"/>
				<xs:element ref="rapporto-curatore" minOccurs="0"/>
				<xs:element ref="appelli-reclami" minOccurs="0"/>
				<xs:element ref="proposta-concordato" minOccurs="0"/>
				<xs:element ref="esercizio-provvisorio" minOccurs="0"/>
				<xs:element ref="continuazione-esercizio-provv" minOccurs="0"/>
				<xs:element ref="cessazione-esercizio-provv" minOccurs="0"/>
				<xs:element ref="esecuzione-concordato" minOccurs="0"/>
				<xs:element ref="annotazioni-procedure" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="f-presenza-info" type="xs:string"/>
			<xs:attribute name="cciaa-fuori-provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="proposta-concordato" type="xs:string"/>
	<xs:element name="proprieta-quota">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="p-proprieta" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="provenienza-trasferimento">
		<xs:complexType>
			<xs:attribute name="dt-trasferimento" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-aa" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="qualifiche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="qualifica"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="qualifica">
		<xs:complexType>
			<xs:attribute name="c" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="quota">
		<xs:complexType>
			<xs:attribute name="c-valuta" type="xs:string"/>
			<xs:attribute name="valuta" type="xs:string"/>
			<xs:attribute name="valore" type="xs:string"/>
			<xs:attribute name="ammontare-convertito-in-euro" type="xs:string"/>
			<xs:attribute name="percentuale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rapporto-curatore" type="xs:string"/>
	<xs:element name="registro-preziosi">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="qualifica" minOccurs="0"/>
					<xs:element ref="qualifiche" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="autorizzazione-ps" minOccurs="0"/>
				<xs:element ref="tassa-cg" minOccurs="0"/>
				<xs:element ref="marchio" minOccurs="0"/>
				<xs:element ref="cancellazione-ruolo" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-domanda" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="requisiti-morali-professionali">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="requisito-morale-professionale" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="requisito-morale-professionale">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="c-stato" type="xs:string"/>
			<xs:attribute name="stato" type="xs:string"/>
			<xs:attribute name="c-ente" type="xs:string"/>
			<xs:attribute name="ente" type="xs:string"/>
			<xs:attribute name="dt-denuncia" type="xs:string"/>
			<xs:attribute name="dt-accertamento" type="xs:string"/>
			<xs:attribute name="dt-decadenza" type="xs:string"/>
			<xs:attribute name="ulteriori-specifiche" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="riconoscimenti-professionali">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="riconoscimento-professionale" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="riconoscimento-professionale">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="dt-provvedimento" type="xs:string"/>
					<xs:attribute name="n-iscrizione" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruoli">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ruolo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruoli-persona">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ruolo-persona" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruolo">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="cancellazione-ruolo"/>
			</xs:choice>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
			<xs:attribute name="c-qualifica" type="xs:string"/>
			<xs:attribute name="qualifica" type="xs:string"/>
			<xs:attribute name="c-forma" type="xs:string"/>
			<xs:attribute name="forma" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-ente-rilascio" type="xs:string"/>
			<xs:attribute name="ente-rilascio" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ruolo-persona">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
			<xs:attribute name="c-qualifica" type="xs:string"/>
			<xs:attribute name="qualifica" type="xs:string"/>
			<xs:attribute name="c-forma" type="xs:string"/>
			<xs:attribute name="forma" type="xs:string"/>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-ente-rilascio" type="xs:string"/>
			<xs:attribute name="ente-rilascio" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sede-fuori-provincia">
		<xs:complexType>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-aa" type="xs:string"/>
			<xs:attribute name="cciaa" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sede-secondaria-rs">
		<xs:complexType>
			<xs:attribute name="n-sede-secondaria" type="xs:string"/>
			<xs:attribute name="c-comune-tribunale" type="xs:string"/>
			<xs:attribute name="comune-tribunale" type="xs:string"/>
			<xs:attribute name="provincia-tribunale" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="settore-attivita">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="settori-attivita">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="settore-attivita" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="societa-cooperativa">
		<xs:complexType>
			<xs:attribute name="dt-presentazione" type="xs:string"/>
			<xs:attribute name="n-iscrizione" type="xs:string"/>
			<xs:attribute name="dt-iscrizione" type="xs:string"/>
			<xs:attribute name="c-sezione" type="xs:string"/>
			<xs:attribute name="sezione" type="xs:string"/>
			<xs:attribute name="c-sotto-sezione" type="xs:string"/>
			<xs:attribute name="sotto-sezione" type="xs:string"/>
			<xs:attribute name="c-categoria" type="xs:string"/>
			<xs:attribute name="categoria" type="xs:string"/>
			<xs:attribute name="c-categoria-attivita-eserc" type="xs:string"/>
			<xs:attribute name="categoria-attivita-esercitata" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sotto-tipi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sotto-tipo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sotto-tipo">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stoccaggio">
		<xs:complexType>
			<xs:attribute name="magazzini" type="xs:string"/>
			<xs:attribute name="silos" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tabelle-speciali">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="f-farmacia" type="xs:string"/>
					<xs:attribute name="f-vendita-generi-monopolio" type="xs:string"/>
					<xs:attribute name="f-vendita-carburanti" type="xs:string"/>
					<xs:attribute name="mq" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tassa-cg">
		<xs:complexType>
			<xs:attribute name="n" type="xs:string"/>
			<xs:attribute name="dt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="titoli-onorifici">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titolo-onorifico" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="titolo-onorifico">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="c" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="trasferimento-altro-registro">
		<xs:complexType>
			<xs:attribute name="c-tipo" type="xs:string"/>
			<xs:attribute name="tipo" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="trasferimento-localizzazione">
		<xs:complexType>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="trasferimento-sede">
		<xs:complexType>
			<xs:attribute name="comune" type="xs:string"/>
			<xs:attribute name="provincia" type="xs:string"/>
			<xs:attribute name="c-toponimo" type="xs:string"/>
			<xs:attribute name="toponimo" type="xs:string"/>
			<xs:attribute name="via" type="xs:string"/>
			<xs:attribute name="n-civico" type="xs:string"/>
			<xs:attribute name="n-rea" type="xs:string"/>
			<xs:attribute name="n-rd" type="xs:string"/>
			<xs:attribute name="n-aa" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="trasferimento-sede-ul-attiva">
		<xs:complexType>
			<xs:attribute name="c-causale" type="xs:string"/>
			<xs:attribute name="causale" type="xs:string"/>
			<xs:attribute name="dt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="valori-medi">
		<xs:complexType>
			<xs:attribute name="valore-medio-dipendenti" type="xs:string"/>
			<xs:attribute name="valore-medio-indipendenti" type="xs:string"/>
			<xs:attribute name="valore-medio-totale" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>

