backoffice/cross/cross-avbari/src/main/resources/it/wego/cross/avbari/linksmt/wsdl_produzione/02_05_2018/fascicolo/wsdl_fascicolo1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.ws.protocollo.linksmt.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://server.ws.protocollo.linksmt.it/">
   <types>
      <xsd:schema>
         <xsd:import namespace="http://server.ws.protocollo.linksmt.it/" schemaLocation="./fascicoloXsd1.xsd" />
      </xsd:schema>
   </types>
   <message name="verificaCreaFascicolo">
      <part name="parameters" element="tns:verificaCreaFascicolo" />
   </message>
   <message name="verificaCreaFascicoloResponse">
      <part name="parameters" element="tns:verificaCreaFascicoloResponse" />
   </message>
   <message name="fascicolaDocProtocollato">
      <part name="parameters" element="tns:fascicolaDocProtocollato" />
   </message>
   <message name="fascicolaDocProtocollatoResponse">
      <part name="parameters" element="tns:fascicolaDocProtocollatoResponse" />
   </message>
   <message name="fascicolaNuovoDocumento">
      <part name="parameters" element="tns:fascicolaNuovoDocumento" />
   </message>
   <message name="fascicolaNuovoDocumentoResponse">
      <part name="parameters" element="tns:fascicolaNuovoDocumentoResponse" />
   </message>
   <message name="fascicolaNuovoDocumentoURL">
      <part name="parameters" element="tns:fascicolaNuovoDocumentoURL" />
   </message>
   <message name="fascicolaNuovoDocumentoURLResponse">
      <part name="parameters" element="tns:fascicolaNuovoDocumentoURLResponse" />
   </message>
   <message name="creazioneFascicolo">
      <part name="parameters" element="tns:creazioneFascicolo" />
   </message>
   <message name="creazioneFascicoloResponse">
      <part name="parameters" element="tns:creazioneFascicoloResponse" />
   </message>
   <portType name="FascicoloServer">
      <operation name="verificaCreaFascicolo">
         <input message="tns:verificaCreaFascicolo" />
         <output message="tns:verificaCreaFascicoloResponse" />
      </operation>
      <operation name="fascicolaDocProtocollato">
         <input message="tns:fascicolaDocProtocollato" />
         <output message="tns:fascicolaDocProtocollatoResponse" />
      </operation>
      <operation name="fascicolaNuovoDocumento">
         <input message="tns:fascicolaNuovoDocumento" />
         <output message="tns:fascicolaNuovoDocumentoResponse" />
      </operation>
      <operation name="fascicolaNuovoDocumentoURL">
         <input message="tns:fascicolaNuovoDocumentoURL" />
         <output message="tns:fascicolaNuovoDocumentoURLResponse" />
      </operation>
      <operation name="creazioneFascicolo">
         <input message="tns:creazioneFascicolo" />
         <output message="tns:creazioneFascicoloResponse" />
      </operation>
   </portType>
</definitions>
