frontoffice/suapsue_fo_fe/people/src/main/resources/it/people/fsl/servizi/concessioniedautorizzazioni/servizicondivisi/procedimentounico/risorse/ConcessioniAutorizzazioniGenerale.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- 
	Modellazione People (servizio Autorizzazioni e Concessioni) versione 2.0.2
	autore: Mirko Calandrini
	http://www.gruppoinit.it
-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://gruppoinit.it/b110/ConcessioniEAutorizzazioni/procedimentoUnico" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://gruppoinit.it/b110/ConcessioniEAutorizzazioni/procedimentoUnico" xmlns:OggettiCondivisi="http://egov.diviana.it/b109/OggettiCondivisi" xmlns:DocumentiUfficiali="http://egov.diviana.it/b109/DocumentiUfficiali">
	<xs:import namespace="http://egov.diviana.it/b109/DocumentiUfficiali" schemaLocation="DocumentiUfficiali.xsd" />
	<xs:import namespace="http://egov.diviana.it/b109/OggettiCondivisi" schemaLocation="OggettiCondivisi.xsd" />

	<xs:element name="Richiesta" type="RichiestadiConcessioniEAutorizzazioniType" />

	<!-- RICHIESTA C&A -->
	<xs:complexType name="RichiestadiConcessioniEAutorizzazioniType">
		<xs:annotation>
			<xs:documentation>
				La richiesta inviata dal servizio People di Concessioni e
				Autorizzazioni ad un BackEnd generico.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OggettiCondivisi:RichiestadiServizioOnLineallaPA">
				<xs:sequence>
					<xs:element name="Richiedente" type="OggettiCondivisi:CredenzialiUtenteCertificate" />
					<xs:element name="PraticaAnonima" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false" />
					<xs:element name="DataOraPresentazione" type="xs:dateTime"/>
					<xs:element name="EnteDestinatario" type="EnteType" />
					<xs:element name="SportelloDestinatario" type="SportelloType" />
			
					<xs:element name="SettoreAttivita" type="SettoreAttivitaType" />
					<xs:element name="OperazioniAttivita" type="OperazioniAttivitaType" />
					<xs:element name="IdBookmark" type="xs:string" nillable="true" />
					<xs:element name="DescrizioneBookmark" type="xs:string" nillable="true"/>
					
					
					<xs:element name="Anagrafica" type="AnagraficaType" />
					<xs:element name="RiepilogoDomanda" type="RiepilogoDomandaType" />
		
					<xs:element name="pdfIstanza" type="xs:string" />
					
					<xs:element name="Normative" type="NormativeType" />
					<xs:element name="DichiarazioniDinamiche" type="DichiarazioniDinamicheType" />
					<xs:element name="DichiarazioniStatiche" type="DichiarazioniStaticheType" />
					<xs:element name="Modulistica" type="ModulisticaType" />
					<xs:element name="Documenti" type="DocumentiType" />
		
					<xs:element name="OneriRiepilogo" type="OneriRiepilogoType" />
					
					<xs:element name="AltreInfo" type="AltreInfoType"  maxOccurs="1" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	


	<!-- ENTE -->
	<xs:complexType name="EnteType">
		<xs:annotation>
			<xs:documentation> Descrive l'ente, la struttura (ufficio) e il relativo sportello all'interno dell'ente.	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodEnte" type="xs:string" />
			<xs:element name="DesEnte" nillable="true" type="xs:string" />

		</xs:sequence>
	</xs:complexType>  
  
	<!-- SPORTELLO -->
	<xs:complexType name="SportelloType">
		<xs:sequence>
			<xs:element name="CodiceSportello" type="xs:string" />
			<xs:element name="DescrizioneSportello" type="xs:string" />
			<xs:element name="Indirizzo" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="Cap" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="Citta" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="Provincia" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="Email" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="Pec" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="Telefono" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="Fax" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="Rup" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="flgPu" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="flgSu" nillable="true" type="xs:string" maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
  
	<!-- SETTORE ATTIVITA -->
	<xs:complexType name="SettoreAttivitaType">
		<xs:annotation>
			<xs:documentation>Il settore di attività dell'impresa individuato nella generazione dell'iter del procedimento.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodiceSettore" nillable="true" type="xs:string" />
			<xs:element name="DescrizioneSettore" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
  
	<xs:complexType name="AltreInfoType">
		<xs:annotation>
			<xs:documentation>lista campi generici utilizzabile in futuro per verticalizzazioni</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Info" type="InfoType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InfoType">
		<xs:annotation>
			<xs:documentation>Dettaglio dell'informazione</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Cod" type="xs:string" />
			<xs:element name="Des" type="xs:string" />
			<xs:element name="Note" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
  
  
	<!-- OPERAZIONI ATTIVATE -->
	<xs:complexType name="OperazioniAttivitaType">
		<xs:annotation>
			<xs:documentation>Lista delle operazioni foglia selezionate nell'albero delle operazioni</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Operazione" type="OperazioneType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperazioneType">
		<xs:annotation>
			<xs:documentation>Dettaglio dell'operazione</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodOperazione" type="xs:string" />
			<xs:element name="DesOperazione" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- DICHIARAZIONI DINAMICHE -->
	<xs:complexType name="DichiarazioniDinamicheType">
		<xs:annotation>
			<xs:documentation>Lista degli href</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DichiarazioneDinamica" type="DichiarazioneDinamicaType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DichiarazioneDinamicaType">
		<xs:annotation>
			<xs:documentation>Dettaglio dell'operazione</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="titolo" type="xs:string" />
			<xs:element name="href" type="xs:string" />
			<xs:element name="piedeHref" type="xs:string" />
			<xs:element name="campiHref" type="campiHrefType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="campiHrefType">
		<xs:annotation>
			<xs:documentation>Lista campi href</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="campoHref" type="campoHrefType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="campoHrefType">
		<xs:annotation>
			<xs:documentation>Dettaglio del campo dinamico</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nome" type="xs:string" />
			<xs:element name="contatore" type="xs:string" />
			<xs:element name="descrizione" type="xs:string" />
			<xs:element name="riga" type="xs:string"/>
			<xs:element name="posizione" type="xs:string" />
			<xs:element name="molteplicita" type="xs:string" />
			<xs:element name="tipo" type="xs:string" />
			<xs:element name="controllo" type="xs:string" />
			<xs:element name="valore" type="xs:string" />
			<xs:element name="valoreUtente" type="xs:string" />
			<xs:element name="lunghezza" type="xs:string" />
			<xs:element name="decimali" type="xs:string" />
			<xs:element name="edit" type="xs:string" />
			<xs:element name="CampoXmlMod" type="xs:string" />
			<xs:element name="opzioniCombo" type="OpzioniComboType" />
		</xs:sequence>
	</xs:complexType> 
	
	
	<xs:complexType name="OpzioniComboType">
		<xs:sequence>
			<xs:element name="OpzioneCombo" type="OpzioneComboType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OpzioneComboType">
		<xs:sequence>
			<xs:element name="Codice" type="xs:string" />
			<xs:element name="Etichetta" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- fine dichiarazioni dinamiche-->
	
	
	<xs:complexType name="campoAnagraficaType">
		<xs:annotation>
			<xs:documentation>Dettaglio del campo anagrafica</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nome" type="xs:string" />
			<xs:element name="contatore" type="xs:string" />
			<xs:element name="descrizione" type="xs:string" />
			<xs:element name="riga" type="xs:string"/>
			<xs:element name="posizione" type="xs:string" />
			<xs:element name="molteplicita" type="xs:string" />
			<xs:element name="tipo" type="xs:string" />
			<xs:element name="controllo" type="xs:string" />
			<xs:element name="valore" type="xs:string" />
			<xs:element name="valoreUtente" type="xs:string" />
			<xs:element name="lunghezza" type="xs:string" />
			<xs:element name="decimali" type="xs:string" />
			<xs:element name="edit" type="xs:string" />
			<xs:element name="CampoXmlMod" type="xs:string" />
			<xs:element name="opzioniCombo" type="OpzioniComboType" />
			<xs:element name="livello" type="xs:string" />
			<xs:element name="raggruppamento_check" type="xs:string" />
			<xs:element name="campo_collegato" type="xs:string" />
			<xs:element name="val_campo_collegato" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- DICHIARAZIONI STATICHE -->
	<xs:complexType name="DichiarazioniStaticheType">
		<xs:sequence>
			<xs:element name="DichiarazioneStatica" type="DichiarazioneStaticaType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DichiarazioneStaticaType">
		<xs:sequence>
			<xs:element name="Chiave" nillable="true" type="xs:string" />
			<xs:element name="Titolo" type="xs:string" />
			<xs:element name="Valore" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- ESITO PAGAMENTO -->
	<xs:complexType name="EsitoPagamentoType">
		<xs:sequence>
			<xs:element name="PortaleID" type="xs:string" />
			<xs:element name="NumeroOperazione" type="xs:string" />
			<xs:element name="IDOrdine" type="xs:string" />
			<xs:element name="DataOraOrdine" type="xs:string" />
			<xs:element name="IDTransazione" type="xs:string" />
			<xs:element name="DataOraTransazione" type="xs:string" />
			<xs:element name="SistemaPagamento" type="xs:string" />
			<xs:element name="SistemaPagamentoD" type="xs:string" />
			<xs:element name="CircuitoAutorizzativo" type="xs:string" />
			<xs:element name="CircuitoAutorizzativoD" type="xs:string" />
			<xs:element name="CircuitoSelezionato" type="xs:string" />
			<xs:element name="CircuitoSelezionatoD" type="xs:string" />
			<xs:element name="ImportoTransato" type="xs:string" />
			<xs:element name="ImportoAutorizzato" type="xs:string" />
			<xs:element name="ImportoCommissioni" type="xs:string" />
			<xs:element name="Esito" type="xs:string" />
			<xs:element name="EsitoD" type="xs:string" />
			<xs:element name="DataOra" type="xs:string" />
			<xs:element name="Autorizzazione" type="xs:string" />
			<xs:element name="DatiSpecifici" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- NORMATIVE -->
	<xs:complexType name="NormativeType">
		<xs:annotation>
			<xs:documentation>Lista delle normative</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Normativa" type="NormativaType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NormativaType">
		<xs:annotation>
			<xs:documentation>Dettaglio della normativa</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nomeRiferimento" type="xs:string" />
			<xs:element name="titoloRiferimento" type="xs:string" />
			<xs:element name="nomeFile" type="xs:string" />
			<xs:element name="codRif" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	
	
	<!-- ANAGRAFICA -->
	<xs:complexType name="AnagraficaType">
		<xs:annotation>
			<xs:documentation>Anagrafica rihiedente</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CampoAnagrafica" type="campoAnagraficaType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- RIEPILOGO ONERI -->
	<xs:complexType name="OneriRiepilogoType">
		<xs:sequence>
			<xs:element name="TotaleOneri" type="xs:double" />
			<xs:element name="PagamentoEffettuato" type="xs:boolean" maxOccurs="1" minOccurs="0" />
			<xs:element name="EsitoPagamento" type="EsitoPagamentoType" maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- ONERI DETTAGLIO -->
	<xs:complexType name="OneriDettaglioType">
		<xs:sequence>
			<xs:element name="OnereDettaglio" type="OnereDettaglioType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnereDettaglioType">
		<xs:sequence>
			<xs:element name="codice" type="xs:string"></xs:element>
			<xs:element name="descrizione" type="xs:string"></xs:element>
			<xs:element name="importo" type="xs:string"></xs:element>
			<xs:element name="note" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- INTERVENTI -->
	<xs:complexType name="InterventiType">
		<xs:sequence>
			<xs:element name="intervento" type="InterventoType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InterventoType">
	<xs:sequence>
		<xs:element name="codice" type="xs:string"></xs:element>
		<xs:element name="descrizione" type="xs:string"></xs:element>
		<xs:element name="codiciNormative" type="codiciNormativeType"></xs:element>
		<xs:element name="codiciDichiarazioniDinamiche" type="codiciDichiarazioniDinamicheType"></xs:element>
		<xs:element name="codiciDichiarazioniStatiche" type="codiciDichiarazioniStaticheType"></xs:element>
		<xs:element name="codiciModulistica" type="codiciModulisticaType"></xs:element>
		<xs:element name="codiciDocumenti" type="codiciDocumentiType"></xs:element>
	</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="codiciNormativeType">
		<xs:sequence>
			<xs:element name="codice" type="CodiceType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="codiciDichiarazioniDinamicheType">
		<xs:sequence>
			<xs:element name="codice" type="CodiceType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="codiciDichiarazioniStaticheType">
		<xs:sequence>
			<xs:element name="codice" type="CodiceType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="codiciModulisticaType">
		<xs:sequence>
			<xs:element name="codice" type="CodiceType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="codiciDocumentiType">
		<xs:sequence>
			<xs:element name="codice" type="CodiceType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodiceType">
		<xs:sequence>
			<xs:element name="codice" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ALLEGATI 
	<xs:complexType name="AllegatiType">
		<xs:sequence>
			<xs:element name="codiceHref" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="codiceDicStatiche" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="codiceDoc" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	-->
	
	<!-- DOCUMENTI -->
	<xs:complexType name="DocumentiType">
		<xs:sequence>
			<xs:element name="documento" type="DocumentoType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentoType">
		<xs:sequence>
			<xs:element name="codice" type="xs:string"></xs:element>
			<xs:element name="descrizione" type="xs:string"></xs:element>
			<xs:element name="copie" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- MODULISTICA -->
	<xs:complexType name="ModulisticaType">
		<xs:sequence>
			<xs:element name="modulo" type="ModuloType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModuloType">
		<xs:sequence>
			<xs:element name="codiceDoc" type="xs:string"></xs:element>
			<xs:element name="tip_doc" type="xs:string"></xs:element>
			<xs:element name="nomeFile" type="xs:string"></xs:element>
			<xs:element name="titolo" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	  <!-- RIEPILOGO ISTANZA -->
	<xs:complexType name="RiepilogoDomandaType">
		<xs:annotation>
			<xs:documentation> Rappresenta la domanda al backoffice. Può contenere i dati o di un procedimento unico o di un procedimento plurimo.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Procedimenti" type="ProcedimentiType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ProcedimentiType">
		<xs:sequence>
			<xs:element name="procedimento" type="ProcedimentoType" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcedimentoType">
    	<xs:sequence>
    		<xs:element name="nome" type="xs:string"></xs:element>
    		<xs:element name="terminiEvasione" type="xs:string"></xs:element>
		<xs:element name="codiceProcedimento" type="xs:string"></xs:element>
		<xs:element name="flagComune" type="xs:string"></xs:element>
		<xs:element name="flagPu" type="xs:string"></xs:element>
		<xs:element name="flagProcedimento" type="xs:string"></xs:element>
		<xs:element name="codiceCud" type="xs:string"></xs:element>
		<xs:element name="tipo" type="xs:string"></xs:element>
		<xs:element name="flg_bollo" type="xs:string"></xs:element>
		<xs:element name="TotaleOneri" maxOccurs="1" minOccurs="0" type="xs:double" />
		<xs:element name="OneriDettaglio" type="OneriDettaglioType" maxOccurs="1" minOccurs="0"></xs:element>
		<xs:element name="Interventi" type="InterventiType" />
    	</xs:sequence>
    </xs:complexType>
	
	
	
</xs:schema>			