frontoffice/suapsue_fo_be/ws_regauth/src/main/wsdl/ws_auth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost/ws_auth/services/AuthenticationInterface" xmlns:tns3="http://beans.idp.sirac.people.it" xmlns:impl="http://localhost/ws_auth/services/AuthenticationInterface" xmlns:intf="http://localhost/ws_auth/services/AuthenticationInterface" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://beans.idp.sirac.people.it">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ResAuthBean">
    <sequence>
     <element name="codiceFiscale" nillable="true" type="xsd:string"/>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="esito" nillable="true" type="xsd:string"/>
     <element name="messaggio" nillable="true" type="xsd:string"/>
     <element name="timestamp" nillable="true" type="xsd:string"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RegBean">
    <sequence>
     <element name="coda" nillable="true" type="xsd:string"/>
     <element name="emailaddress" nillable="true" type="xsd:string"/>
     <element name="givenName" nillable="true" type="xsd:string"/>
     <element name="idComuneRegistrazione" nillable="true" type="xsd:string"/>
     <element name="isOm" nillable="true" type="xsd:string"/>
     <element name="localityName" nillable="true" type="xsd:string"/>
     <element name="piCap" nillable="true" type="xsd:string"/>
     <element name="piCitta" nillable="true" type="xsd:string"/>
     <element name="piCodiceFiscale" nillable="true" type="xsd:string"/>
     <element name="piDataNascita" nillable="true" type="xsd:string"/>
     <element name="piIpRegistrazione" nillable="true" type="xsd:string"/>
     <element name="piLavoro" nillable="true" type="xsd:string"/>
     <element name="piLuogoNascita" nillable="true" type="xsd:string"/>
     <element name="piPostalAddress" nillable="true" type="xsd:string"/>
     <element name="piPrivacy" nillable="true" type="xsd:string"/>
     <element name="piPrivacyComunicazione" nillable="true" type="xsd:string"/>
     <element name="piPrivacyPromozioni" nillable="true" type="xsd:string"/>
     <element name="piProvincia" nillable="true" type="xsd:string"/>
     <element name="piProvinciaNascita" nillable="true" type="xsd:string"/>
     <element name="piResidenza" nillable="true" type="xsd:string"/>
     <element name="piSesso" nillable="true" type="xsd:string"/>
     <element name="piStato" nillable="true" type="xsd:string"/>
     <element name="piStatoPos" nillable="true" type="xsd:string"/>
     <element name="piTelefono" nillable="true" type="xsd:string"/>
     <element name="piTitolo" nillable="true" type="xsd:string"/>
     <element name="postalCode" nillable="true" type="xsd:string"/>
     <element name="schemaName" nillable="true" type="xsd:string"/>
     <element name="sn" nillable="true" type="xsd:string"/>
     <element name="stateProvinceName" nillable="true" type="xsd:string"/>
     <element name="userPIN" nillable="true" type="xsd:string"/>
     <element name="userPassword" nillable="true" type="xsd:string"/>
     <element name="ruolo" nillable="true" type="xsd:string"/>
     <element name="territorio" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="executeBasicAuthenticationRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getUserDataWithCIERequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getUserDataResponse">

      <wsdl:part name="getUserDataReturn" type="tns3:RegBean"/>

   </wsdl:message>

   <wsdl:message name="getUserDataWithCodiceFiscaleRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getUserDataWithCodiceFiscaleResponse">

      <wsdl:part name="getUserDataWithCodiceFiscaleReturn" type="tns3:RegBean"/>

   </wsdl:message>

   <wsdl:message name="getUserDataRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="executeBasicAuthenticationResponse">

      <wsdl:part name="executeBasicAuthenticationReturn" type="tns3:ResAuthBean"/>

   </wsdl:message>

   <wsdl:message name="getUserDataWithCIEResponse">

      <wsdl:part name="getUserDataWithCIEReturn" type="tns3:RegBean"/>

   </wsdl:message>

   <wsdl:message name="executePINAuthenticationResponse">

      <wsdl:part name="executePINAuthenticationReturn" type="tns3:ResAuthBean"/>

   </wsdl:message>

   <wsdl:message name="executePINAuthenticationRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="AuthenticationInterface">

      <wsdl:operation name="executeBasicAuthentication" parameterOrder="in0 in1">

         <wsdl:input name="executeBasicAuthenticationRequest" message="impl:executeBasicAuthenticationRequest"/>

         <wsdl:output name="executeBasicAuthenticationResponse" message="impl:executeBasicAuthenticationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executePINAuthentication" parameterOrder="in0 in1">

         <wsdl:input name="executePINAuthenticationRequest" message="impl:executePINAuthenticationRequest"/>

         <wsdl:output name="executePINAuthenticationResponse" message="impl:executePINAuthenticationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserData" parameterOrder="in0 in1">

         <wsdl:input name="getUserDataRequest" message="impl:getUserDataRequest"/>

         <wsdl:output name="getUserDataResponse" message="impl:getUserDataResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserDataWithCIE" parameterOrder="in0">

         <wsdl:input name="getUserDataWithCIERequest" message="impl:getUserDataWithCIERequest"/>

         <wsdl:output name="getUserDataWithCIEResponse" message="impl:getUserDataWithCIEResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserDataWithCodiceFiscale" parameterOrder="in0">

         <wsdl:input name="getUserDataWithCodiceFiscaleRequest" message="impl:getUserDataWithCodiceFiscaleRequest"/>

         <wsdl:output name="getUserDataWithCodiceFiscaleResponse" message="impl:getUserDataWithCodiceFiscaleResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthenticationInterfaceSoapBinding" type="impl:AuthenticationInterface">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="executeBasicAuthentication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeBasicAuthenticationRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:input>

         <wsdl:output name="executeBasicAuthenticationResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executePINAuthentication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executePINAuthenticationRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:input>

         <wsdl:output name="executePINAuthenticationResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDataRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:input>

         <wsdl:output name="getUserDataResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserDataWithCIE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDataWithCIERequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:input>

         <wsdl:output name="getUserDataWithCIEResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserDataWithCodiceFiscale">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDataWithCodiceFiscaleRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:input>

         <wsdl:output name="getUserDataWithCodiceFiscaleResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws_auth/services/AuthenticationInterface"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthenticationInterfaceService">

      <wsdl:port name="AuthenticationInterface" binding="impl:AuthenticationInterfaceSoapBinding">

         <wsdlsoap:address location="http://localhost:80/ws_auth/services/AuthenticationInterface"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
