backoffice/cross/cross-ws/src/main/resources/CrossWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    targetNamespace="http://webservice.backend.people.it/" 
    xmlns:apachesoap="http://xml.apache.org/xml-soap" 
    xmlns:impl="http://webservice.backend.people.it/" 
    xmlns:intf="http://webservice.backend.people.it/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema elementFormDefault="qualified" 
                targetNamespace="http://webservice.backend.people.it/" 
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="process">
                <complexType>
                    <sequence>
                        <element name="data" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="processResponse">
                <complexType>
                    <sequence>
                        <element name="processReturn" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="processResponse">
        <wsdl:part element="impl:processResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="processRequest">
        <wsdl:part element="impl:process" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="CrossWSService">
        <wsdl:operation name="process">
            <wsdl:input message="impl:processRequest" name="processRequest"/>
            <wsdl:output message="impl:processResponse" name="processResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CrossWSServiceSoapBinding" type="impl:CrossWSService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="process">
            <wsdlsoap:operation soapAction="process"/>
            <wsdl:input name="processRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="processResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CrossWSServiceService">
        <wsdl:port binding="impl:CrossWSServiceSoapBinding" name="CrossWSService">
            <wsdlsoap:address location="http://localhost:8080/cross/servizi/CrossWSService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
