frontoffice/suapsue_fo_fe/people/src/main/resources/it/people/fsl/servizi/concessioniedautorizzazioni/servizicondivisi/procedimentounico/risorse/xsd/DocumentoDinamicoPreXslt_2014_09_30.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
			La richiesta inviata dal servizio People di Concessioni e
			Autorizzazioni a Documenti Dinamici.
		<Modello xmlns="" Versione="Documento Dinamico-v1.7.7c-Release - 26/09/2014" Data="26/09/2014" /></xs:documentation>
  </xs:annotation>
  <xs:complexType name="CampoAnagraficaType">
    <xs:sequence>
      <xs:element name="campo_xml_mod" nillable="true" type="xs:string" />
      <xs:element name="contatore" type="xs:string" />
      <xs:element name="controllo" nillable="true" type="xs:string" />
      <xs:element name="decimali" type="xs:string" />
      <xs:element name="descrizione" type="xs:string" />
      <xs:element name="edit" type="xs:string" />
      <xs:element name="livello" type="xs:string" />
      <xs:element name="lunghezza" type="xs:string" />
      <xs:element name="molteplicita" type="xs:string" />
      <xs:element name="nome" type="xs:string" />
      <xs:element name="posizione" type="xs:string" />
      <xs:element name="riga" type="xs:string" />
      <xs:element name="tipo" type="xs:string" />
      <xs:element name="valore" type="xs:string" />
      <xs:element name="valoreUtente" type="xs:string" />
      <xs:element name="val_campo_collegato" nillable="true" type="xs:string" />
      <xs:element name="campo_collegato" nillable="true" type="xs:string" />
      <xs:element name="raggruppamento_check" nillable="true" type="xs:string" />
      <xs:element name="opzioniCombo" type="OpzioniComboType" />
      <xs:element name="azione" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OpzioneComboType">
    <xs:sequence>
      <xs:element name="Codice" type="xs:string" />
      <xs:element name="Etichetta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OpzioniComboType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OpzioneCombo" type="OpzioneComboType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EsitoPagamento">
    <xs:sequence>
      <xs:element name="PortaleID" type="xs:string" />
      <xs:element name="NumeroOperazione" type="xs:string" />
      <xs:element name="IDOrdine" type="xs:string" />
      <xs:element name="DataOraOrdine" type="xs:string" />
      <xs:element name="IDTransazione" type="xs:string" />
      <xs:element name="DataOraTransazione" type="xs:string" />
      <xs:element name="SistemaPagamento" type="xs:string" />
      <xs:element name="SistemaPagamentoD" type="xs:string" />
      <xs:element name="CircuitoAutorizzativo" type="xs:string" />
      <xs:element name="CircuitoAutorizzativoD" type="xs:string" />
      <xs:element name="CircuitoSelezionato" type="xs:string" />
      <xs:element name="CircuitoSelezionatoD" type="xs:string" />
      <xs:element name="ImportoTransato" type="xs:string" />
      <xs:element name="ImportoAutorizzato" type="xs:string" />
      <xs:element name="ImportoCommissioni" type="xs:string" />
      <xs:element name="Esito" type="xs:string" />
      <xs:element name="EsitoD" type="xs:string" />
      <xs:element name="DataOra" type="xs:string" />
      <xs:element name="Autorizzazione" type="xs:string" />
      <xs:element name="DatiSpecifici" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="indirizzo">
    <xs:sequence>
      <xs:element name="cap" type="xs:string" />
      <xs:element name="citta" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fax" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element name="provincia" type="xs:string" />
      <xs:element minOccurs="0" name="stato" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element name="via" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="allegato">
    <xs:sequence>
      <xs:element name="codice" type="xs:string" />
      <xs:element name="copie" type="xs:string">
        <xs:annotation>
          <xs:documentation>Riporta il numero delle copie degli allegati fisici da allegare, per le dichiarazioni la scritta da riportare al posto del numero copie (es: contenuta nel modello di domanda).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tipoAutocertificazione" type="xs:string">
        <xs:annotation>
          <xs:documentation>Decodifica del valore flg_autocert (tipicamente 'autoceritificabile/non autocertificabile').</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="titolo" type="xs:string" />
      <xs:element name="flgDichiarazione" type="xs:string" />
      <xs:element name="checked" type="xs:string" />
      <xs:element name="codiceCondizione" type="xs:string" />
      <xs:element name="testoCondizione" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="codiceFiscale" type="xs:string" />
      <xs:element name="cognome" type="xs:string" />
      <xs:element name="dataNascita" type="xs:string" />
      <xs:element name="luogoNascita" type="xs:string" />
      <xs:element name="nome" type="xs:string" />
      <xs:element name="provinciaNascita" type="xs:string" />
      <xs:element name="residenza" type="indirizzo" />
      <xs:element minOccurs="0" name="sesso" type="xs:string" />
      <xs:element minOccurs="0" name="statoNascita" type="xs:string" />
      <xs:element minOccurs="0" name="descrizioneMotivazioneRappresentanza" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssociazioneDiCategoriaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Denominazione" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceSportello" type="xs:string" />
      <xs:element minOccurs="0" name="Email" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceControllo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="campoHrefType">
    <xs:sequence>
      <xs:element name="campo_collegato" nillable="true" type="xs:string" />
      <xs:element name="campo_dati" nillable="true" type="xs:string" />
      <xs:element name="campo_key" nillable="true" type="xs:string" />
      <xs:element name="campo_xml_mod" nillable="true" type="xs:string" />
      <xs:element name="contatore" type="xs:string" />
      <xs:element name="controllo" nillable="true" type="xs:string" />
      <xs:element name="decimali" type="xs:string" />
      <xs:element name="descrizione" type="xs:string" />
      <xs:element name="edit" type="xs:string" />
      <xs:element name="lunghezza" type="xs:string" />
      <xs:element name="nome" type="xs:string" />
      <xs:element name="nome_xsd" nillable="true" type="xs:string" />
      <xs:element name="numCampo" type="xs:string" />
      <xs:element name="opzioniCombo" type="OpzioniComboType" />
      <xs:element name="posizione" type="xs:string" />
      <xs:element name="raggruppamento_check" nillable="true" type="xs:string" />
      <xs:element name="riga" type="xs:string" />
      <xs:element name="tipo" type="xs:string" />
      <xs:element name="tp_controllo" type="xs:string" />
      <xs:element name="val_campo_collegato" nillable="true" type="xs:string" />
      <xs:element name="valore" type="xs:string" />
      <xs:element name="valoreUtente" type="xs:string" />
      <xs:element name="web_serv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
<!-- dichiarazioni dinamiche normalizzate inizio -->  
  <xs:complexType name="dichiarazioneNormalizzata">
    <xs:sequence>
      <xs:element minOccurs="0" name="href" type="xs:string" />
      <xs:element minOccurs="0" name="titolo" type="xs:string" />
      <xs:element minOccurs="0" name="piede" type="xs:string" />
      <xs:element minOccurs="0" name="campi">
        <xs:complexType>
          <xs:sequence minOccurs="0">
            <xs:element minOccurs="0" maxOccurs="unbounded" name="campo" type="campoDichiarazione" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="righe">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="riga">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="campi">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="campo" type="campoDichiarazione" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="campoDichiarazione">
    <xs:sequence>
      <xs:element minOccurs="0" name="codice" type="xs:string" />
      <xs:element minOccurs="0" name="descrizione" type="xs:string" />
      <xs:element minOccurs="0" name="valore" type="xs:string" />
    </xs:sequence>
  </xs:complexType> 
<!-- dichiarazioni dinamiche normalizzate inizio -->  
  <xs:element name="documentRoot">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>definizione dell'xml dei dati di input alla funzione di costruzione dei moduli dinamici di Autorizzazioni e Concessioni.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="identificatoreProcedimentoPraticaSpacchettata" type="xs:string">
          <xs:annotation>
            <xs:documentation>Identificazione della pratica (con suffisso).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="idBookmark" type="xs:string">
          <xs:annotation>
            <xs:documentation>Identificazione del bookmark; se procedimento stringa vuota.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="moduloBianco">
          <xs:annotation>
            <xs:documentation>Identifica se modulo in bianco o meno per quel bookmark.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="S" />
              <xs:enumeration value="N" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
<!-- dichiarazioni dinamiche normalizzate inizio --> 		
        <xs:element name="stampaBozza">
          <xs:annotation>
            <xs:documentation>Identifica se aggiungere o meno la filigrana (background.png)</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="S" />
              <xs:enumeration value="N" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="codiceDocumentoPrecompilazione">
          <xs:annotation>
            <xs:documentation>Identifica il codice del documento da precompilare (background.png)</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="S" />
              <xs:enumeration value="N" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
<!-- dichiarazioni dinamiche normalizzate fine -->  		
        <xs:element name="sportello">
          <xs:annotation>
            <xs:documentation>Dati deloo sportello (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codiceSportello" type="xs:string" />
              <xs:element name="descrizioneSportello" type="xs:string" />
              <xs:element name="pec" nillable="true" type="xs:string" />
              <xs:element name="rup" nillable="true" type="xs:string" />
              <xs:element name="indirizzo" type="indirizzo" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="descrizioneSettore">
          <xs:annotation>
            <xs:documentation>Descrizione del settore individuato (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codice" type="xs:string" />
              <xs:element name="descrizione" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="operazioniIndividuate">
          <xs:annotation>
            <xs:documentation>Elenco delle operazioni individuate (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="operazioneIndividuata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codice" type="xs:string" />
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="operazioniNonRichiesteEsplicitamente">
          <xs:annotation>
            <xs:documentation>Elenco delle operazioni individuate (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="operazioneIndividuata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codice" type="xs:string" />
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="dichiarazioniStatiche">
          <xs:annotation>
            <xs:documentation>Elenco delle dichiarzioni statiche (non obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="dichiarazioneStatica">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codice" type="xs:string" />
                    <xs:element name="descrizione" nillable="true" type="xs:string" />
                    <xs:element name="titolo" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="interventiSelezionati">
          <xs:annotation>
            <xs:documentation>Elenco degli interventi selezionati (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="interventoSelezionato">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codice" type="xs:string" />
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="procedimenti">
          <xs:annotation>
            <xs:documentation>Elenco dei procedimenti selezionati (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="procedimento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="normative">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="normativa">
                            <xs:annotation>
                              <xs:documentation>Elenco normative collegate al procedimento (non obbligatorio).</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="codRif" type="xs:string" />
                                <xs:element name="nomeRiferimento" nillable="true" type="xs:string" />
                                <xs:element name="titoloRiferimento" nillable="true" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="codice" type="xs:string" />
                    <xs:element name="ente">
                      <xs:annotation>
                        <xs:documentation>Descrizione ente di competenza del procedimento(non descrizione classe ente) (obbligatorio).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="codice" type="xs:string" />
                          <xs:element name="descrizione" type="xs:string" />
                          <xs:element name="codiceClasseEnte" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="destinatario">
                      <xs:annotation>
                        <xs:documentation>Descrizione del destinatario del procedimento (obbligatorio). - AGGIUNTO</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="codice" type="xs:string" />
                          <xs:element name="intestazione" type="xs:string" />
                          <xs:element name="nome" type="xs:string" />
                          <xs:element name="email" type="xs:string" />
                          <xs:element name="indirizzo" type="xs:string" />
                          <xs:element name="telefono" type="xs:string" />
                          <xs:element name="citta" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="interventi">
                      <xs:annotation>
                        <xs:documentation>Elenco interventi collegati al procedimento selezionato (obbligatorio).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="intervento">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="codice" type="xs:string" />
                                <xs:element name="descrizione" type="xs:string" />
                                <xs:element minOccurs="0" name="allegati">
                                  <xs:annotation>
                                    <xs:documentation>Elenco dei procedimenti selezionati (non dichiarazioni) (non obbligatorio).</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="allegato" type="allegato" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="descrizione" type="xs:string" />
                    <xs:element minOccurs="0" name="oneriDovuti" type="xs:string" />
                    <xs:element minOccurs="0" name="terminiEvasione" type="xs:string" />
                    <xs:element minOccurs="0" name="oneriAnticipati">
                      <xs:annotation>
                        <xs:documentation>Elenco oneri anticipati collegati al procedimento (non obbligatorio).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="onereAnticipato">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="codice" type="xs:string" />
                                <xs:element name="descrizioneDestinatario" type="xs:string" />
                                <xs:element name="descrizione" type="xs:string" />
                                <xs:element name="importo" type="xs:string" />
                                <xs:element minOccurs="0" name="nota" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="tipoProcedimento" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Decodifica tipo procedimento (comunicazione / procedimento autoceriticato / procedimento semplificato / etc.).</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="oneriPosticipati">
                      <xs:annotation>
                        <xs:documentation>Elenco oneri posticipati collegati al procedimento (non obbligatorio).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="onerePosticipato">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="codice" type="xs:string" />
                                <xs:element name="descrizioneDestinatario" type="xs:string" />
                                <xs:element name="descrizione" type="xs:string" />
                                <xs:element name="importo" type="xs:string" />
                                <xs:element minOccurs="0" name="nota" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="allegatiTotali">
                      <xs:annotation>
                        <xs:documentation>Elenco di tutti gli allegati collegati al  procedimento selezionati (comprese le dichiarazioni) (non obbligatorio).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="allegato" type="allegato" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="dichiarazioniDinamiche">
		
          <xs:annotation>
            <xs:documentation>Elenco delle dichiarazioni dinamiche (non obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="dichiarazioneDinamica">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codiceDocumento" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Codice del documento a cui è collegata la dichiarazione.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="html" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Rappresentazione html della dichiarazione con i valori caricati.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="piedeHref" type="xs:string" />
                    <xs:element name="titolo" type="xs:string" />
                    <xs:element name="campi">
                      <xs:annotation>
                        <xs:documentation>Elenco dei campi della dichiarazione come da processData.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="campo" type="campoHrefType" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="descrizione" type="xs:string" />
                    <xs:element name="href" type="xs:string" />
                    <xs:element name="rowCount" type="xs:string" />
                    <xs:element name="tdCount" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
<!-- dichiarazioni dinamiche normalizzate inizio -->		
		<xs:element minOccurs="0" maxOccurs="1" name="dichiarazioniNormalizzate">
            <xs:annotation>
            <xs:documentation>Dichirazioni dinamiche normalizzate</xs:documentation>
          </xs:annotation>		
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dichiarazioneNormalizzata" type="dichiarazioneNormalizzata" />
            </xs:sequence>
          </xs:complexType>
        </xs:element> 
<!-- dichiarazioni dinamiche normalizzate fine -->
		<xs:element maxOccurs="unbounded" name="Anagrafica">
          <xs:annotation>
            <xs:documentation>Elenco dei campi anagrafica</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CampoAnagrafica" type="CampoAnagraficaType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comune">
          <xs:annotation>
            <xs:documentation>Elenco dei campi del comune (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="codice" type="xs:string" />
              <xs:element name="descrizione" type="xs:string" />
              <xs:element name="indirizzo" type="indirizzo" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="bollo">
          <xs:annotation>
            <xs:documentation>Descrizione da evidenziare se modulo bollato (non obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="S" />
              <xs:enumeration value="N" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AssociazioneCategoria" type="AssociazioneDiCategoriaType" />
        <xs:element minOccurs="0" name="riepilogoOneri">
          <xs:annotation>
            <xs:documentation>Totale oneri (solo se presenti oneri da pagare) (non obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="totale" type="xs:string" />
              <xs:element minOccurs="0" name="EsitoPagamento" type="EsitoPagamento" />
              <xs:element default="ON_LINE" name="modalitaPagamento" type="xs:string" />
              <xs:element minOccurs="0" name="OneriPagati">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="totale" type="xs:double" />
                    <xs:element maxOccurs="unbounded" name="onere">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="1" name="codice" type="xs:string" />
                          <xs:element minOccurs="0" name="aeCodiceUtente" type="xs:string" />
                          <xs:element minOccurs="0" name="aeCodiceEnte" type="xs:string" />
                          <xs:element minOccurs="0" name="aeCodiceUfficio" type="xs:string" />
                          <xs:element minOccurs="0" name="aeTipoUfficio" type="xs:string" />
                          <xs:element name="descrizione" type="xs:string" />
                          <xs:element name="importo" type="xs:double" />
                          <xs:element minOccurs="0" name="codiceDestinatario" type="xs:string" />
                          <xs:element minOccurs="0" name="descrizioneDestinatario" type="xs:string" />
                          <xs:element name="riversamentoAutomatico" type="xs:boolean" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="allegatiSelezionati">
          <xs:annotation>
            <xs:documentation>Elenco degli allegati selezionati (non dichiarazioni) (non obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="allegato" type="allegato" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="allegatiSelezionatiTotali">
          <xs:annotation>
            <xs:documentation>Elenco di tutti gli allegati selezionati comprese le dichiarazioni (non obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="allegato" type="allegato" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="allegatiFacoltativi">
          <xs:annotation>
            <xs:documentation>Elenco degli allegati Facoltativi con l'indicatore se scelto o meno (non dichiarazioni) (non obbligatorio) suddiviso per condizione.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="allegatoFacoltativo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="codice" type="xs:string" />
                    <xs:element minOccurs="1" maxOccurs="1" name="descrizione" type="xs:string" />
                    <xs:element minOccurs="1" maxOccurs="1" name="selezionato" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="allegati">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="allegato" type="allegato" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comboAnagrafica">
          <xs:annotation>
            <xs:documentation>Elenco delle descrizioni dell'equivalente nodo di processData (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="elemento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comboProfessionista">
          <xs:annotation>
            <xs:documentation>Elenco delle descrizioni dell'equivalente nodo di processData (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="elemento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comboAltroEnte">
          <xs:annotation>
            <xs:documentation>Elenco delle descrizioni dell'equivalente nodo di processData (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="elemento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comboCausaleDelega">
          <xs:annotation>
            <xs:documentation>Elenco delle descrizioni dell'equivalente nodo di processData (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="elemento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comboImpresa">
          <xs:annotation>
            <xs:documentation>Elenco delle descrizioni dell'equivalente nodo di processData (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="elemento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comboAlbo">
          <xs:annotation>
            <xs:documentation>Elenco delle descrizioni dell'equivalente nodo di processData (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="elemento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comboTramiteDelega">
          <xs:annotation>
            <xs:documentation>Elenco delle descrizioni dell'equivalente nodo di processData (obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="elemento">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="oggetto">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="html" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Rappresentazione html della dichiarazione con i valori caricati.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="piedeHref" type="xs:string" />
              <xs:element name="titolo" type="xs:string" />
              <xs:element name="campi">
                <xs:annotation>
                  <xs:documentation>Elenco dei campi della dichiarazione come da processData.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="campo" type="campoHrefType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="descrizione" type="xs:string" />
              <xs:element name="href" type="xs:string" />
              <xs:element name="rowCount" type="xs:string" />
              <xs:element name="tdCount" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="allegatiFisici">
          <xs:annotation>
            <xs:documentation>Elenco degli allegati fisici allegati (non obbligatorio).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="allegatoFisico">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="descrizione" type="xs:string" />
                    <xs:element name="nomeFile" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="azioneTemplate" type="xs:string" />
        <xs:element name="language" type="xs:string" />
        <xs:element minOccurs="0" name="datiAccreditamento">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="qualificaUtente">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="S" />
                    <xs:enumeration value="N" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="profiloOperatore" type="profiloPersonaFisica" />
              <xs:element name="profiloRichiedente" type="profiloPersonaFisica" />
              <xs:element name="profiloTitolare" type="profiloTitolare" />
              <xs:element name="accreditamentoCorrente" type="accreditamentoCorrente" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="profiloPersonaFisica">
    <xs:sequence>
      <xs:element name="nome" type="xs:string" />
      <xs:element name="cognome" type="xs:string" />
      <xs:element name="codiceFiscale" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="dataNascita" type="xs:string" />
      <xs:element minOccurs="0" name="luogoNascita" type="xs:string" />
      <xs:element minOccurs="0" name="provinciaNascita" type="xs:string" />
      <xs:element minOccurs="0" name="residenza" type="xs:string" />
      <xs:element minOccurs="0" name="sesso" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profiloPersonaGiuridica">
    <xs:sequence>
      <xs:element name="denominazione" type="xs:string" />
      <xs:element name="sedeLegale" type="xs:string" />
      <xs:element minOccurs="0" name="codiceFiscale" type="xs:string" />
      <xs:element minOccurs="0" name="partitaIVA" type="xs:string" />
      <xs:element minOccurs="0" name="descrizione" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="rappresentanteLegale" type="profiloPersonaFisica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accreditamentoCorrente">
    <xs:sequence>
      <xs:element name="idComune" type="xs:string" />
      <xs:element name="profilo" type="profiloAccreditamento" />
      <xs:element name="qualifica" type="qualifica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qualifica">
    <xs:sequence>
      <xs:element name="idQualifica" type="xs:string" />
      <xs:element name="tipoQualifica" type="xs:string" />
      <xs:element name="includeRappresentanteLegale" type="xs:string" />
      <xs:element name="descrizione" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profiloAccreditamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="codiceFiscaleIntermediario" type="xs:string" />
      <xs:element minOccurs="0" name="partitaIvaIntermediario" type="xs:string" />
      <xs:element minOccurs="0" name="descrizione" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element minOccurs="0" name="denominazione" type="xs:string" />
      <xs:element minOccurs="0" name="sedeLegale" type="xs:string" />
      <xs:element minOccurs="0" name="rappresentanteLegale" type="rappresentanteLegaleProfiloAccreditamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rappresentanteLegaleProfiloAccreditamento">
    <xs:sequence>
      <xs:element name="nome" type="xs:string" />
      <xs:element name="cognome" type="xs:string" />
      <xs:element name="codiceFiscale" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="sesso" type="xs:string" />
      <xs:element minOccurs="0" name="dataNascita" type="xs:string" />
      <xs:element minOccurs="0" name="luogoNascita" type="xs:string" />
      <xs:element minOccurs="0" name="provinciaNascita" type="xs:string" />
      <xs:element minOccurs="0" name="indirizzoResidenza" type="xs:string" />
      <xs:element minOccurs="0" name="codiceFiscaleIntermediario" type="xs:string" />
      <xs:element minOccurs="0" name="partitaIvaIntermediario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profiloTitolare">
    <xs:choice>
      <xs:element name="profiloTitolarePF" type="profiloPersonaFisica" />
      <xs:element name="profiloTitolarePG" type="profiloPersonaGiuridica" />
    </xs:choice>
  </xs:complexType>
</xs:schema>