backoffice/cross/cross-avbari/src/main/resources/it/wego/cross/avbari/linksmt/fascicolo/wsdl/fascicolo-import.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:tns="http://server.ws.protocollo.linksmt.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws.protocollo.linksmt.it/">
<types>
<xsd:schema>
<xsd:import namespace="http://server.ws.protocollo.linksmt.it/" schemaLocation="fascicolo.xsd" />
</types>
<message name="creazioneFascicolo">
<part name="parameters" element="tns:creazioneFascicolo" />
</message>
<message name="creazioneFascicoloResponse">
<part name="parameters" element="tns:creazioneFascicoloResponse" />
</message>
<message name="fascicolaNuovoDocumento">
<part name="parameters" element="tns:fascicolaNuovoDocumento" />
</message>
<message name="fascicolaNuovoDocumentoResponse">
<part name="parameters" element="tns:fascicolaNuovoDocumentoResponse" />
</message>
<message name="fascicolaDocProtocollato">
<part name="parameters" element="tns:fascicolaDocProtocollato" />
</message>
<message name="fascicolaDocProtocollatoResponse">
<part name="parameters" element="tns:fascicolaDocProtocollatoResponse" />
</message>
<portType name="FascicoloServer">
<operation name="creazioneFascicolo">
<input message="tns:creazioneFascicolo" />
<output message="tns:creazioneFascicoloResponse" />
</operation>
<operation name="fascicolaNuovoDocumento">
<input message="tns:fascicolaNuovoDocumento" />
<output message="tns:fascicolaNuovoDocumentoResponse" />
</operation>
<operation name="fascicolaDocProtocollato">
<input message="tns:fascicolaDocProtocollato" />
<output message="tns:fascicolaDocProtocollatoResponse" />
</operation>
</portType>
</definitions>