backoffice/cross/cross-avbari/src/main/resources/it/wego/cross/avbari/linksmt/protocollo/protocollo-wsdl/protocollo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.server.ws.protocollo.linksmt.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.server.ws.protocollo.linksmt.it/" name="ProtocolloServerImplService">
<import namespace="http://server.ws.protocollo.linksmt.it/" location="protocollo_import.wsdl" />
<binding xmlns:ns1="http://server.ws.protocollo.linksmt.it/" name="ProtocolloServerImplPortBinding" type="ns1:ProtocolloServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="richiestaProtocolloFasc">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="richiestaProtocolloProvvisorio">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="completamentoProtocolloProvvisorio">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="richiestaProtocolloUscita">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="richiestaProtocolloUscitaFasc">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addAllegatura">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMittenteProtocollo">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProtocollo">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDestinatariProtocollo">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="richiestaProtocollo">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllegato">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="inoltraProtocollo">
<soap:operation soapAction="return" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ProtocolloServerImplService">
<port name="ProtocolloServerImplPort" binding="tns:ProtocolloServerImplPortBinding">
<soap:address location="http://web99.linksmt.it:80/adoc/protocollo" />
</port>
</service>
</definitions>