backoffice/cross/cross-avbari/src/main/resources/it/wego/cross/avbari/linksmt/protocollo/wsdl/protocollo_interno.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:tns="http://server.ws.protocollo.linksmt.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws.protocollo.linksmt.it/">
<types>
<xsd:schema>
<xsd:import namespace="http://server.ws.protocollo.linksmt.it/" schemaLocation="protocollo_uno.xsd" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://protocollo.linksmt.it/RichiestaSOAP" schemaLocation="protocollo_due.xsd" />
</xsd:schema>
</types>
<message name="getProtocollo">
<part name="parameters" element="tns:getProtocollo" />
</message>
<message name="getProtocolloResponse">
<part name="parameters" element="tns:getProtocolloResponse" />
</message>
<message name="addAllegatura">
<part name="parameters" element="tns:addAllegatura" />
</message>
<message name="addAllegaturaResponse">
<part name="parameters" element="tns:addAllegaturaResponse" />
</message>
<message name="getMittenteProtocollo">
<part name="parameters" element="tns:getMittenteProtocollo" />
</message>
<message name="getMittenteProtocolloResponse">
<part name="parameters" element="tns:getMittenteProtocolloResponse" />
</message>
<message name="getAllegato">
<part name="parameters" element="tns:getAllegato" />
</message>
<message name="getAllegatoResponse">
<part name="parameters" element="tns:getAllegatoResponse" />
</message>
<message name="inoltraProtocollo">
<part name="parameters" element="tns:inoltraProtocollo" />
</message>
<message name="inoltraProtocolloResponse">
<part name="parameters" element="tns:inoltraProtocolloResponse" />
</message>
<message name="getDestinatariProtocollo">
<part name="parameters" element="tns:getDestinatariProtocollo" />
</message>
<message name="getDestinatariProtocolloResponse">
<part name="parameters" element="tns:getDestinatariProtocolloResponse" />
</message>
<message name="richiestaProtocolloProvvisorio">
<part name="parameters" element="tns:richiestaProtocolloProvvisorio" />
</message>
<message name="richiestaProtocolloProvvisorioResponse">
<part name="parameters" element="tns:richiestaProtocolloProvvisorioResponse" />
</message>
<message name="completamentoProtocolloProvvisorio">
<part name="parameters" element="tns:completamentoProtocolloProvvisorio" />
</message>
<message name="completamentoProtocolloProvvisorioResponse">
<part name="parameters" element="tns:completamentoProtocolloProvvisorioResponse" />
</message>
<message name="richiestaProtocolloFasc">
<part name="parameters" element="tns:richiestaProtocolloFasc" />
</message>
<message name="richiestaProtocolloFascResponse">
<part name="parameters" element="tns:richiestaProtocolloFascResponse" />
</message>
<message name="richiestaProtocolloUscita">
<part name="parameters" element="tns:richiestaProtocolloUscita" />
</message>
<message name="richiestaProtocolloUscitaResponse">
<part name="parameters" element="tns:richiestaProtocolloUscitaResponse" />
</message>
<message name="richiestaProtocollo">
<part name="parameters" element="tns:richiestaProtocollo" />
</message>
<message name="richiestaProtocolloResponse">
<part name="parameters" element="tns:richiestaProtocolloResponse" />
</message>
<portType name="ProtocolloServer">
<operation name="getProtocollo">
<input message="tns:getProtocollo" />
<output message="tns:getProtocolloResponse" />
</operation>
<operation name="addAllegatura">
<input message="tns:addAllegatura" />
<output message="tns:addAllegaturaResponse" />
</operation>
<operation name="getMittenteProtocollo">
<input message="tns:getMittenteProtocollo" />
<output message="tns:getMittenteProtocolloResponse" />
</operation>
<operation name="getAllegato">
<input message="tns:getAllegato" />
<output message="tns:getAllegatoResponse" />
</operation>
<operation name="inoltraProtocollo">
<input message="tns:inoltraProtocollo" />
<output message="tns:inoltraProtocolloResponse" />
</operation>
<operation name="getDestinatariProtocollo">
<input message="tns:getDestinatariProtocollo" />
<output message="tns:getDestinatariProtocolloResponse" />
</operation>
<operation name="richiestaProtocolloProvvisorio">
<input message="tns:richiestaProtocolloProvvisorio" />
<output message="tns:richiestaProtocolloProvvisorioResponse" />
</operation>
<operation name="completamentoProtocolloProvvisorio">
<input message="tns:completamentoProtocolloProvvisorio" />
<output message="tns:completamentoProtocolloProvvisorioResponse" />
</operation>
<operation name="richiestaProtocolloFasc">
<input message="tns:richiestaProtocolloFasc" />
<output message="tns:richiestaProtocolloFascResponse" />
</operation>
<operation name="richiestaProtocolloUscita">
<input message="tns:richiestaProtocolloUscita" />
<output message="tns:richiestaProtocolloUscitaResponse" />
</operation>
<operation name="richiestaProtocollo">
<input message="tns:richiestaProtocollo" />
<output message="tns:richiestaProtocolloResponse" />
</operation>
</portType>
</definitions>