backoffice/cross/cross-avbari/src/main/resources/xsd/catasto_1.xsd

<?xml version="1.0" encoding="utf-8"?><!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Input">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="CampoPrecompilazioneBean">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Codice" type="xs:string" />
              <xs:element minOccurs="0" name="Descrizione" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CodEnte" type="xs:string" />
</xs:schema>