backoffice/cross/cross-avbari/src/main/resources/xsd/responseSIT.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="risultato_operazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operazione" />
        <xs:element minOccurs="0" name="esito" />
        <xs:element minOccurs="0" name="messaggio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>